<style>
  #shopify-block-{{ block.id }} .message_container {
    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
  }
</style>

<div class="message_container"></div>

<script>
  document.addEventListener('DOMContentLoaded', function(){
    console.log("Sales period app initilized");

    const default_elements_array = [
      'form[action$="/cart/add"] button[type="submit"]',
      'form[action$="/cart/add"] input[type="submit"]',
      ".shopify-payment-button",
      '[data-testid="Checkout-button"]',
      ".product-form__submit",
      "#AddToCart",
      ".add-to-cart",
    ];

    const sales_period_metafield = {{- product.metafields.sales_period.sales_period | default: 'null' -}};
    const selected_variant_id = {{- product.selected_or_first_available_variant.id | default: 'null' -}};
    const html_elements_selectors = `{{- block.settings.html_elements_selectors -}}` || "";
    const message_container = document.querySelector("#shopify-block-{{ block.id }} .message_container");

    const formattedDate = (date) => {
      return new Date(date).toLocaleString("en-US", {
        year: "numeric",
        month: "long",
        day: "numeric",
        hour: "numeric",
        minute: "2-digit",
        hour12: true
      })
    }

    const handleMessage = (status, sales_period) => {
      if(message_container){
        if (status === "upcoming") {
          message_container.innerHTML = `Sales will begin on ${formattedDate(sales_period.startDate)}.`;
        } else if (status === "expired") {
          message_container.innerHTML = `Sales ended on ${formattedDate(sales_period.endDate)}.`;
        } else {
          message_container.innerHTML = ``;
        }        
      }
    }

    const getSalesStatus = ({ todayDate, startDate, endDate }) => {
      // Convert the string dates to Date objects
      const dateToday = new Date(todayDate);  // today's date
      const dateStart = new Date(startDate); // start date
      const dateEnd = new Date(endDate);    // end date
    
      // Determine the sales status based on the dates
      if (dateToday < dateStart) return 'upcoming';
      if (dateToday >= dateStart && dateToday <= dateEnd) return 'active';
      return 'expired';
    };
    

    const handleToggleElements = (variantId) => {

      const variant_sales_period = sales_period_metafield.variants.find((variant)=>{
        return variant.variantId === "gid://shopify/ProductVariant/"+variantId
      }) || null;

      if(variant_sales_period){
        
        const sales_period_status = getSalesStatus({
          todayDate: "{{ "today" | date: "%Y-%m-%d" }}", // SHOPIFY STORE DATE STRING
          startDate: variant_sales_period.startDate,
          endDate: variant_sales_period.endDate
        });

        const elements_array = (html_elements_selectors || "").split(",").map(s=>s.trim()).filter(Boolean);

        const buttons = (elements_array.length > 1 ? elements_array : default_elements_array).map((selector) =>(
          Array.from(document.querySelectorAll(selector))
        )).flat();

        if (!buttons.length) {
          console.log("Add to Cart buttons not found");
          return;
        }

        handleMessage(sales_period_status, variant_sales_period);
        if(sales_period_status === "active"){
          buttons.forEach(button=> button.style.display = "");
        }else{
          buttons.forEach(button=> button.style.display = "none");
        }
      }
    }

    const handleNavigation = (event) => {
      const variantId = new URL(event?.destination?.url)?.searchParams?.get('variant');
      handleToggleElements(variantId || selected_variant_id)
    }

    if(sales_period_metafield){
      console.log("Sales period metafield attached to product");
      window.navigation.addEventListener("navigate", handleNavigation);
      handleToggleElements(selected_variant_id)
    }

  });
</script>

{% schema %}
{
  "name": "Sales period",
  "target": "section",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "type": "textarea",
      "id": "html_elements_selectors",
      "label": "Cart buttons to be toggle",
      "placeholder": "form[action$='/cart/add'] button[type='submit'], form[action$='/cart/add'] input[type='submit'], .shopify-payment-button, [data-testid='Checkout-button'], .product-form__submit, #AddToCart, .add-to-cart",
      "info": "Provide comma-separated CSS selectors for the cart buttons to toggle during the sales period. If left blank, the app will use default selectors like the ones shown in the placeholder."
    }
  ]
}
{% endschema %}
